<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h1>Register</h1>
	<form method="post">
		<div>
			<label>Email</label>
			<input type="text" name="email">
		</div>
		<div>
			<label>Password</label>
			<input type="password" name="password">
		</div>
		<div>
			<label>Phone</label>
			<input type="text" name="contact-phone">
		</div>
		<div>
			<label>Blood Type</label>
			<input type="text" name="blood-type">
		</div>
		<div>
			<label>Rhesus</label>
			<input type="text" name="rhesus">
		</div>

		<div>
			<label>Location</label>
			<input type="text" name="location">
		</div>
		<input type="text" name="lat" hidden value="0">
		<input type="text" name="lng" hidden value="0">
		<input type="submit" name="register" value="register">
	</form>
</body>
</html>